.input_field input{
    padding: 16px 10px !important;
}

.search_input input{
    padding: 10px 14px !important;
}

.patient_details{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    margin-top: 16px;
}

