.auth_btn{
    color: white !important;
    border-color: white !important;
}

.auth_btn:hover{
    border-color: white !important;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}