

.bold{
  font-weight: bold !important;
}

.no-borders{
  border: none !important;
}

.btn_container{
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #116A7B;
  text-decoration: none;
}
a:hover {
  color: #147d92;
}

#pdf canvas{
  height: 650px;
  width: 100%;
}